@model IEnumerable<Big_Project_v3.Models.Restaurant>

@{
    ViewData["Title"] = "MoneyMonth";
}

@{
    string totalNTD = $"NT${ViewBag.Total_Money:N0}"; // NT$營業額
}

<h1>報告 - 營業額</h1>
<hr />

<div class="mb-3">
    <a href="@Url.Action("Report", "Backstage")" class="btn btn-primary md-3">訂單數量</a>
    <a href="@Url.Action("PeopleToday", "Backstage")" class="btn btn-primary md-3">人數</a>
    <a href="@Url.Action("MoneyToday", "Backstage")" class="btn btn-primary md-3">營業額</a>
    <a href="@Url.Action("ReviewWeek", "Backstage")" class="btn btn-primary md-3">評論數量</a>
</div>

<div>
    <a href="@Url.Action("MoneyToday", "Backstage")" class="btn btn-outline-primary md-3">本日</a>
    <a href="@Url.Action("MoneyWeek", "Backstage")" class="btn btn-outline-primary md-3">本週</a>
    <a href="@Url.Action("MoneyMonth", "Backstage")" class="btn btn-outline-primary">本月</a>
</div>

<div class="container mt-3">
    <h3 class="mb-4">本月營業額 : @totalNTD</h3>
    <h3 class="mb-2">本月營業額分佈</h3>
    <canvas id="moneyChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // 取得後端傳遞過來的資料
    var DailyRevenue = @Html.Raw(Json.Serialize(ViewBag.DailyRevenue));

    // 取得當前月份的日期數
    const getDaysOfCurrentMonth = () => {
        const now = new Date();
        const year = now.getFullYear();
        const month = now.getMonth(); // 0 表示 1 月，11 表示 12 月

        // 取得當月天數
        const daysInMonth = new Date(year, month + 1, 0).getDate();

        // 生成日期數的陣列
        return Array.from({ length: daysInMonth }, (_, index) => index + 1);
    };

    // 使用函數取得當前月份的日期數
    const daysArray = getDaysOfCurrentMonth();

    // 繪製折線圖
    var ctx = document.getElementById('moneyChart').getContext('2d');
    var peopleChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: daysArray, // 日期
            datasets: [{
                label: '營業額',
                data: DailyRevenue,
                borderColor: 'rgba(0, 124, 255, 1)',
                backgroundColor: 'rgba(0, 124, 255, 0.2)',
                fill: true
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: ''
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: '新台幣'
                    },
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1, // 設定步進為 1，確保顯示整數
                    },
                }
            }
        }
    });
</script>
