@model IEnumerable<Big_Project_v3.ViewModels.ReviewViewModel>

<div class="container mt-4">
    <h2 class="fw-bold">你的評論</h2>
    @foreach (var review in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@review.PhotoURL" alt="@review.RestaurantName" class="img-fluid rounded" style="width: 200px; height: auto;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="fw-bolder card-title">@review.RestaurantName</h5>
                        @* <p class="card-text text-muted">@review.RestaurantDescription</p> *@
                        <p class="card-text"><small class="text-muted">@review.ReviewDate.ToString("yyyy/MM/dd")</small></p>
                        <strong class="card-text">你的評論：@review.ReviewText</strong>
                        @* <p class="card-text">評分: @review.Rating</p> *@
                        <!-- 星級 Bootstrap 樣式 -->
                        <p></p>
                        <strong>你的評價：</strong>
                        @await Html.PartialAsync("PartialView/_SearchRestaurantFolder/StarRating_BootStrap", review.Rating)
                        <!-- 星級 CSS 樣式 -->
                        <div style="display: flex; align-items: center;">
                        <strong style="vertical-align: middle;">你的評價：</strong>
                        @await Html.PartialAsync("PartialView/_SearchRestaurantFolder/StarRating_CSS", review.Rating)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
